[Desktop Entry]
X-AppInstall-Package=address-book-app
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Encoding=UTF-8
Version=1.0
Terminal=false
Type=Application
Name=Contacts
GenericName=Contacts
Comment=Contacts Address Book
Keywords=Contacts;People;Numbers
Exec=/usr/bin/address-book-app %u
Icon=_usr_share_address-book-app_artwork_address-book-app
X-Ubuntu-SymbolicIcon=/usr/share/address-book-app/artwork/address-book-app-symbolic.svg
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Title=Contacts
X-Ubuntu-Splash-Title[am]=ግንኙነቶች
X-Ubuntu-Splash-Title[ar]=الأشخاص
X-Ubuntu-Splash-Title[ast]=Contautos
X-Ubuntu-Splash-Title[az]=Kontaktlar
X-Ubuntu-Splash-Title[bg]=Контакти
X-Ubuntu-Splash-Title[br]=Darempredoù
X-Ubuntu-Splash-Title[ca]=Contactes
X-Ubuntu-Splash-Title[ckb]=ناسراو
X-Ubuntu-Splash-Title[cs]=Kontakty
X-Ubuntu-Splash-Title[da]=Kontakter
X-Ubuntu-Splash-Title[de]=Kontakte
X-Ubuntu-Splash-Title[el]=Επαφές
X-Ubuntu-Splash-Title[en_AU]=Contacts
X-Ubuntu-Splash-Title[en_GB]=Contacts
X-Ubuntu-Splash-Title[es]=Contactos
X-Ubuntu-Splash-Title[eu]=Kontaktuak
X-Ubuntu-Splash-Title[fa]=مخاطبین
X-Ubuntu-Splash-Title[fi]=Yhteystiedot
X-Ubuntu-Splash-Title[fr]=Contacts
X-Ubuntu-Splash-Title[gd]=Luchd-aithne
X-Ubuntu-Splash-Title[gl]=Contactos
X-Ubuntu-Splash-Title[he]=אנשי קשר
X-Ubuntu-Splash-Title[hu]=Névjegyek
X-Ubuntu-Splash-Title[is]=Tengiliðir
X-Ubuntu-Splash-Title[it]=Contatti
X-Ubuntu-Splash-Title[ja]=連絡先
X-Ubuntu-Splash-Title[km]=ទំនាក់ទំនង
X-Ubuntu-Splash-Title[ko]=연락처
X-Ubuntu-Splash-Title[lv]=Kontakti
X-Ubuntu-Splash-Title[ms]=Kenalan
X-Ubuntu-Splash-Title[my]=ဆက်သွယ်ရမည့် သူများ
X-Ubuntu-Splash-Title[nb]=Kontakter
X-Ubuntu-Splash-Title[nl]=Contacten
X-Ubuntu-Splash-Title[pl]=Kontakty
X-Ubuntu-Splash-Title[pt]=Contactos
X-Ubuntu-Splash-Title[pt_BR]=Contatos
X-Ubuntu-Splash-Title[ro]=Contacte
X-Ubuntu-Splash-Title[ru]=Контакты
X-Ubuntu-Splash-Title[sl]=Stiki
X-Ubuntu-Splash-Title[sr]=Именик
X-Ubuntu-Splash-Title[sv]=Kontakter
X-Ubuntu-Splash-Title[tr]=Kişiler
X-Ubuntu-Splash-Title[ug]=ئالاقەداشلار
X-Ubuntu-Splash-Title[uk]=Контакти
X-Ubuntu-Splash-Title[zh_CN]=联系人
X-Ubuntu-Splash-Title[zh_HK]=聯絡人
X-Ubuntu-Splash-Title[zh_TW]=聯絡人
X-Screenshot=/usr/share/address-book-app/artwork/address-book-app-preview.png

X-Ubuntu-Gettext-Domain=app-install-data
