[Desktop Entry]
X-AppInstall-Package=atril
X-AppInstall-Popcon=244
X-AppInstall-Section=universe

Name=Atril Document Viewer
GenericName=Document Viewer
Comment=View multi-page documents
TryExec=atril
Exec=atril %U
StartupNotify=true
Terminal=false
Type=Application
Icon=atril
X-MATE-DocPath=
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=atril
X-MATE-Bugzilla-Component=BugBuddyBugs
X-MATE-Bugzilla-Version=1.8.1
Categories=GTK;Office;Viewer;
Keywords=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;image/*;application/oxps;application/vnd.ms-xpsdocument;

X-Ubuntu-Gettext-Domain=app-install-data
