# $Id: autokey-gtk.desktop 22 2008-01-29 11:29:13Z peabody $
[Desktop Entry]
X-AppInstall-Package=autokey-gtk
X-AppInstall-Popcon=69
X-AppInstall-Section=universe

Name=AutoKey
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Exec=autokey-gtk -c
Terminal=false
Type=Application
Icon=autokey
Categories=GNOME;GTK;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
