[Desktop Entry]
X-AppInstall-Package=bzflag-client
X-AppInstall-Popcon=26
X-AppInstall-Section=universe

Name=BZFlag
GenericName=Tank Battle Game
Comment=Battle enemy tanks
Keywords=Capture Flag Tank Game Multiplayer Network
Exec=/usr/games/bzflag
Icon=bzflag-48x48
Type=Application
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
