[Desktop Entry]
X-AppInstall-Package=caja
X-AppInstall-Popcon=340
X-AppInstall-Section=universe

Name=Caja
GenericName=File Manager
Exec=caja
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.2
X-MATE-Autostart-Phase=Desktop
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true
X-MATE-Provides=filemanager

X-Ubuntu-Gettext-Domain=app-install-data
