[Desktop Entry]
X-AppInstall-Package=calibre
X-AppInstall-Popcon=1276
X-AppInstall-Section=universe

Type=Application
Name=calibre
GenericName=E-book library management
Comment=E-book library management
Exec=calibre %f
Icon=calibre-gui
Categories=Office;Database;FileTools;Viewer;Qt;
MimeType=x-content/ebook-reader;

X-Ubuntu-Gettext-Domain=app-install-data
