[Desktop Entry]
X-AppInstall-Package=calligrawords
X-AppInstall-Popcon=191
X-AppInstall-Section=universe

Categories=Qt;KDE;Office;
Exec=calligrawords %u
Icon=calligrawords
MimeType=text/plain;
Name=Calligra Words
StartupNotify=true
Terminal=false
Type=Application
X-KDE-ServiceTypes=Calligra/Application
X-Calligra-DefaultMimeTypes=text/plain
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.calligra.words
X-KDE-SubstituteUID=false
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
