[Desktop Entry]
X-AppInstall-Package=choqok
X-AppInstall-Popcon=108
X-AppInstall-Section=universe

Name=Choqok
Exec=choqok %i -caption %c
Icon=choqok
Type=Application
Categories=Network;
GenericName=Micro-blogging Client
Terminal=false
X-DBUS-StartupType=Unique


X-Ubuntu-Gettext-Domain=app-install-data
