[Desktop Entry]
X-AppInstall-Package=cinnamon-control-center
X-AppInstall-Popcon=117
X-AppInstall-Section=universe

Name=Graphics Tablet
Comment=Set button mappings and adjust stylus sensitivity for graphics tablets
Exec=cinnamon-settings wacom
Icon=cs-tablet
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
X-Cinnamon-Settings-Panel=wacom
OnlyShowIn=X-Cinnamon;
# Translators: those are keywords for the wacom tablet control-center panel
Keywords=Tablet;Wacom;Stylus;Eraser;Mouse;


X-Ubuntu-Gettext-Domain=app-install-data
