[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=524
X-AppInstall-Section=universe

Icon=cs-themes
Exec=cinnamon-settings themes
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Themes
Comment=Manage themes to change how your desktop looks

X-Ubuntu-Gettext-Domain=app-install-data
