[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=524
X-AppInstall-Section=universe

Icon=cs-general
Exec=cinnamon-settings general
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=General
Comment=Miscellaneous Cinnamon preferences

X-Ubuntu-Gettext-Domain=app-install-data
