[Desktop Entry]
X-AppInstall-Package=cinnamon-control-center
X-AppInstall-Popcon=117
X-AppInstall-Section=universe

Exec=cinnamon-settings universal-access
Icon=cs-universal-access
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-Cinnamon-SystemSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=universal-access
# Translators: those are keywords for the universal access control-center panel
Keywords=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;
Name=Universal Access
Comment=Universal Access Preferences


X-Ubuntu-Gettext-Domain=app-install-data
