[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=524
X-AppInstall-Section=universe

Icon=cs-overview
Exec=cinnamon-settings hotcorner
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Hot Corners
Comment=Manage hotcorner settings

X-Ubuntu-Gettext-Domain=app-install-data
