[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=524
X-AppInstall-Section=universe

Icon=cs-windows
Exec=cinnamon-settings windows
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Windows
Comment=Manage window preferences

X-Ubuntu-Gettext-Domain=app-install-data
