[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=524
X-AppInstall-Section=universe

Icon=cs-desktop
Exec=cinnamon-settings desktop
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Desktop
Comment=Manage your desktop icons

X-Ubuntu-Gettext-Domain=app-install-data
