[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=524
X-AppInstall-Section=universe

Icon=cs-desktop-effects
Exec=cinnamon-settings effects
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Effects
Comment=Control Cinnamon visual effects.

X-Ubuntu-Gettext-Domain=app-install-data
