[Desktop Entry]
X-AppInstall-Package=cinnamon-control-center
X-AppInstall-Popcon=117
X-AppInstall-Section=universe

Exec=cinnamon-control-center sound
Icon=cs-sound
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=X-Cinnamon;
NoDisplay=true
X-Cinnamon-Settings-Panel=sound
# Translators: those are keywords for the sound control-center panel
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Name=Sound
Comment=Change sound volume and sound events


X-Ubuntu-Gettext-Domain=app-install-data
