[Desktop Entry]
X-AppInstall-Package=colorhug-client
X-AppInstall-Popcon=7
X-AppInstall-Section=universe

Name=CCMX Loader
Comment=Modify the calibration matrices on the ColorHug device
Icon=colorhug-ccmx
Exec=colorhug-ccmx %F
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
NoDisplay=false
MimeType=application/x-ccmx;

X-Ubuntu-Gettext-Domain=app-install-data
