[Desktop Entry]
X-AppInstall-Package=congruity
X-AppInstall-Popcon=61
X-AppInstall-Section=universe

Name=MHGUI
Exec=mhgui
Type=Application
Comment=GUI for accessing MyHarmony.com web service
Categories=Utility;

X-Ubuntu-Gettext-Domain=app-install-data
