[Desktop Entry]
X-AppInstall-Package=cyclograph-gtk3
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Icon=cyclograph
Name=Cyclograph GTK3
GenericName=Plot your ride (GTK 3 interface)
Comment=Plots slopes of bycicle routes.
Exec=python /usr/bin/cyclograph --gtk3
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
