[Desktop Entry]
X-AppInstall-Package=ebook-speaker
X-AppInstall-Popcon=48
X-AppInstall-Section=universe

Version=1.0
Name=eBook speaker
Comment=Speaking e-reader
MimeType=application/epub+zip;
Exec=eBook-speaker %f
Icon=eBook-speaker
Terminal=true
Type=Application
Categories=AudioVideo;Audio;Accessibility;ConsoleOnly;
Keywords=documents;voice;audio;reading;listen;listening;braille;text;
GenericName=Speaking e-reader

X-Ubuntu-Gettext-Domain=app-install-data
