[Desktop Entry]
X-AppInstall-Package=excellent-bifurcation
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=Excellent Bifurcation
Comment=Abstract vertical shooter with two sides to play on
Exec=/usr/games/excellent-bifurcation
Icon=_usr_share_pixmaps_excellent-bifurcation
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
