[Desktop Entry]
X-AppInstall-Package=freeciv-client-gtk
X-AppInstall-Popcon=120
X-AppInstall-Section=universe

Name=Freeciv (gtk3)
Comment=Turn-based strategy game inspired by the history of human civilization
Exec=freeciv-gtk3
Icon=freeciv-client
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Game;StrategyGame;
Keywords=strategy;simulation;civilization;tiles;history;mankind;multiplayer;

X-Ubuntu-Gettext-Domain=app-install-data
