[Desktop Entry]
X-AppInstall-Package=freediams
X-AppInstall-Popcon=4
X-AppInstall-Section=universe

Version=1.0
Type=Application
Categories=Science;
Name=FreeDiams
GenericName=Pharmaceutical Drugs Prescriptor
Comment=Pharmaceutical drugs prescriptor assistant
TryExec=freediams
Exec=freediams
Icon=freediams



X-Ubuntu-Gettext-Domain=app-install-data
