[Desktop Entry]
X-AppInstall-Package=ftools-fv
X-AppInstall-Popcon=3
X-AppInstall-Section=universe

Version=1.0
Name=fv FITS Editor
GenericName=FITS Editor
Comment=View and manipulate FITS-format files
Type=Application
Exec=fv
Icon=fv
MimeType=image/x-fits;
Categories=Education;Science;Astronomy;

X-Ubuntu-Gettext-Domain=app-install-data
