[Desktop Entry]
X-AppInstall-Package=gamazons
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=Gamazons
Comment=Gamazons game
Exec=gamazons
Icon=gnome-gamazons
Terminal=false
Type=Application
Categories=Game;BoardGame;
Keywords=board;game;amazons;turns;gnome;

X-Ubuntu-Gettext-Domain=app-install-data
