[Desktop Entry]
X-AppInstall-Package=gdigi
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=gdigi
Exec=gdigi
Categories=GTK;Audio;AudioVideo;
Icon=gdigi
X-Desktop-File-Install-Version=0.20


X-Ubuntu-Gettext-Domain=app-install-data
