[Desktop Entry]
X-AppInstall-Package=gemrb-icewind-dale
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Name=Icewind Dale: Heart of Winter - GemRB
GenericName=Icewind Dale: Heart of Winter
Comment=Icewind Dale: Heart of Winter game running with GemRB
Type=Application
Icon=icewind-dale-how
Terminal=true
Exec=icewind-dale-how
Categories=Game;RolePlaying;Emulator;
Keywords=roleplay;rpg;adventure;game;2d;isometric;gemrb;infinite engine;black isle;

X-Ubuntu-Gettext-Domain=app-install-data
