[Desktop Entry]
X-AppInstall-Package=gemrb-icewind-dale-2
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Name=Icewind Dale 2 - GemRB
GenericName=Icewind Dale 2
Comment=Icewind Dale 2 game running with GemRB
Type=Application
Icon=icewind-dale-2
Terminal=true
Exec=icewind-dale-2
Categories=Game;RolePlaying;Emulator;
Keywords=roleplay;rpg;adventure;game;2d;isometric;gemrb;infinite engine;black isle;

X-Ubuntu-Gettext-Domain=app-install-data
