[Desktop Entry]
X-AppInstall-Package=gmobilemedia
X-AppInstall-Popcon=67
X-AppInstall-Section=universe

Name=gMobileMedia (Mobile Media Browser)
Icon=_usr_share_gmobilemedia_ui_gmobilemedia_icon
Exec=gmobilemedia
Terminal=false
Type=Application
Categories=Utility;Telephony;
Keywords=phone;mobile;sms;contact;calendar;todo;

X-Ubuntu-Gettext-Domain=app-install-data
