[Desktop Entry]
X-AppInstall-Package=gtimelog
X-AppInstall-Popcon=72
X-AppInstall-Section=universe

Name=GTimeLog Time Tracker
Comment=Track and time daily activities
Exec=gtimelog
Terminal=false
Type=Application
StartupNotify=true
Icon=_usr_share_pyshared_gtimelog_gtimelog
Categories=Application;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
