[Desktop Entry]
X-AppInstall-Package=ibus-cangjie
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Encoding=UTF-8
# The title of the preferences window for Quick
Name=Quick Preferences
# Tooltip for the preferences app for Quick
Comment=Set preferences for the Quick input method
Exec=/usr/bin/ibus-setup-cangjie quick
Icon=ibus-setup-quick
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
NotShowIn=GNOME;

X-Ubuntu-Gettext-Domain=app-install-data
