[Desktop Entry]
X-AppInstall-Package=ike-qtgui
X-AppInstall-Popcon=37
X-AppInstall-Section=universe

Name=Shrew Soft VPN Access Manager
Comment=Application to manage remote site configurations
Exec=/usr/bin/qikea
Icon=ikea
Terminal=false
Type=Application
Categories=Network
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=vpn;remote;access;ras;company;network;ike;

X-Ubuntu-Gettext-Domain=app-install-data
