[Desktop Entry]
X-AppInstall-Package=im-config
X-AppInstall-Popcon=2807
X-AppInstall-Section=main

Name=Input Method
Comment=Set Keyboard Input Method
Type=Application
Keywords=keyboard;input
Exec=im-config
Terminal=false
Icon=input-keyboard
Categories=Settings

X-Ubuntu-Gettext-Domain=app-install-data
