[Desktop Entry]
X-AppInstall-Package=jmdlx
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Type=Application
GenericName=JuggleMaster
Name=JuggleMaster using wxWidgets
Exec=/usr/games/jmdlx
Terminal=false
Categories=Game;Simulation;
StartupWMClass=Jmdlx

X-Ubuntu-Gettext-Domain=app-install-data
