[Desktop Entry]
X-AppInstall-Package=kalgebra
X-AppInstall-Popcon=120
X-AppInstall-Section=universe

Name=KAlgebra
GenericName=Graph Calculator
Comment=Math Expression Solver and Plotter
Exec=kalgebra
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
X-DocPath=kalgebra/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;Science;

X-Ubuntu-Gettext-Domain=app-install-data
