[Desktop Entry]
X-AppInstall-Package=knutclient
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

Name=KNutClient
Comment=Client for NUT
Exec=knutclient -caption "%c" %i %m
Icon=knutclient
Type=Application
X-DocPath=knutclient/index.html
GenericName=KNutClient
Terminal=false
OnlyShowIn=KDE;
Categories=Qt;KDE;System;Monitor;


X-Ubuntu-Gettext-Domain=app-install-data
