# KDE Config File
[Desktop Entry]
X-AppInstall-Package=krfb
X-AppInstall-Popcon=378
X-AppInstall-Section=universe

Type=Application
Exec=krfb -caption %c %i
Icon=krfb
X-DBUS-StartupType=Unique
X-DocPath=krfb/index.html
Terminal=false
Name=Krfb
GenericName=Desktop Sharing
Categories=Qt;KDE;System;Network;RemoteAccess;

X-Ubuntu-Gettext-Domain=app-install-data
