[Desktop Entry]
X-AppInstall-Package=launchy
X-AppInstall-Popcon=17
X-AppInstall-Section=universe

Version=1.0
Name=Launchy
Comment=Keystroke Launcher
Exec=launchy %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=launchy_icon
Categories=Utility;



X-Ubuntu-Gettext-Domain=app-install-data
