[Desktop Entry]
X-AppInstall-Package=maelstrom
X-AppInstall-Popcon=30
X-AppInstall-Section=multiverse

Type=Application
Name=Maelstrom
GenericName=Ambrosia Maelstrom
Comment=Play an Asteroids like game
Icon=_usr_share_games_maelstrom_icon32
Exec=/usr/games/maelstrom
Terminal=false
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
