[Desktop Entry]
X-AppInstall-Package=marble
X-AppInstall-Popcon=1131
X-AppInstall-Section=universe

Type=Application
TryExec=marble
Exec=marble %F
Name=Marble
GenericName=Virtual Globe
Icon=marble
Terminal=false
Categories=Qt;KDE;Education;Geography;
X-DocPath=marble/index.html

X-Ubuntu-Gettext-Domain=app-install-data
