[Desktop Entry]
X-AppInstall-Package=mate-screensaver
X-AppInstall-Popcon=324
X-AppInstall-Section=universe

Name=Cosmos
Comment=Display a slideshow of pictures of the cosmos
Exec=/usr/lib/mate-screensaver/slideshow --location=/usr/share/backgrounds/cosmos
TryExec=/usr/lib/mate-screensaver/slideshow
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;slideshow;cosmos;
OnlyShowIn=MATE;

X-Ubuntu-Gettext-Domain=app-install-data
