[Desktop Entry]
X-AppInstall-Package=megaglest
X-AppInstall-Popcon=25
X-AppInstall-Section=universe

Categories=Game;StrategyGame;
Comment=Map Editor
Name=MegaGlest Map Editor
Icon=megaglest
Exec=megaglest_editor
Terminal=false
Type=Application


X-Ubuntu-Gettext-Domain=app-install-data
