[Desktop Entry]
X-AppInstall-Package=mess-desktop-entries
X-AppInstall-Popcon=0
X-AppInstall-Section=multiverse

Name=Nintendo64 ROM Player
Comment=Play Nintendo 64 games
Type=Application
Exec=/usr/games/mess n64 -cartridge %f
Terminal=false
NoDisplay=true
MimeType=application/x-n64-rom;


X-Ubuntu-Gettext-Domain=app-install-data
