[Desktop Entry]
X-AppInstall-Package=mess-desktop-entries
X-AppInstall-Popcon=0
X-AppInstall-Section=multiverse

Name=Game Boy ROM Player
Comment=Play Nintendo Game Boy games
Type=Application
Exec=/usr/games/mess gameboy -cartridge %f
Terminal=false
NoDisplay=true
MimeType=application/x-gameboy-rom;


X-Ubuntu-Gettext-Domain=app-install-data
