[Desktop Entry]
X-AppInstall-Package=mono-runtime-common
X-AppInstall-Popcon=3322
X-AppInstall-Section=main

Name=Mono Runtime (Terminal)
Exec=mono
Terminal=true
Type=Application
Icon=mono-runtime-common
MimeType=application/x-ms-dos-executable;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
