[Desktop Entry]
X-AppInstall-Package=nemiver
X-AppInstall-Popcon=40
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Nemiver
GenericName=C/C++ Debugger
X-GNOME-FullName=Nemiver C/C++ Debugger
X-GNOME-FullName[ca]=Depurador de C/C++ Nemiver
X-GNOME-FullName[ca@valencia]=Depurador de C/C++ Nemiver
X-GNOME-FullName[cs]=Ladicí program C/C++ Nemiver
X-GNOME-FullName[da]=Nemiver C/C++-fejlsøgning
X-GNOME-FullName[de]=Nemiver Debugger für C/C++
X-GNOME-FullName[el]=Αποσφαλματωτής Nemiver C/C++
X-GNOME-FullName[en_GB]=Nemiver C/C++ Debugger
X-GNOME-FullName[es]=Depurador de C/C++ Nemiver
X-GNOME-FullName[fi]=Nemiver C/C++ -vianjäljitin
X-GNOME-FullName[fr]=Débogueur C/C++ Nemiver
X-GNOME-FullName[gl]=Depurador de C/C++ Nemiver
X-GNOME-FullName[hu]=Nemiver C/C++ hibakereső
X-GNOME-FullName[id]=Nemiver Pengawakutu C/C++
X-GNOME-FullName[it]=Nemiver debugger C/C++
X-GNOME-FullName[ja]=Nemiver C/C++ デバッガ
X-GNOME-FullName[ko]=네마이버 C/C++ 디버거
X-GNOME-FullName[lt]=Nemiver C/C++ derintuvė
X-GNOME-FullName[lv]=Nemiver C/C++ atkļūdotājs
X-GNOME-FullName[ml]=നെമീവര്‍ C/C++ ഡീബഗ്ഗര്‍
X-GNOME-FullName[nb]=Nemiver feilsøkingsprogram for C/C++
X-GNOME-FullName[pl]=Debuger języka C/C++ Nemiver
X-GNOME-FullName[pt]=Depurador C/C++ Nemiver
X-GNOME-FullName[pt_BR]=Depurador C/C++ Nemiver
X-GNOME-FullName[ro]=Depanatorul C/C++ Nemiver
X-GNOME-FullName[ru]=Отладчик C/C++ Nemiver
X-GNOME-FullName[sk]=Nemiver - odlaďovač C/C++
X-GNOME-FullName[sl]=Razhroščevalnik C/C++ Nemiver
X-GNOME-FullName[sr]=Немивер Ц/Ц++ исправљач грешака
X-GNOME-FullName[sr@latin]=Nemiver C/C++ ispravljač grešaka
X-GNOME-FullName[tr]=Nemiver C/C++ Hata Ayıklayıcısı
X-GNOME-FullName[ug]=نېمىۋېر C/C++ سازلىغۇچ
X-GNOME-FullName[zh_CN]=Nemiver C/C++ 调试器
X-GNOME-FullName[zh_HK]=Nemiver C/C++ 除錯器
X-GNOME-FullName[zh_TW]=Nemiver C/C++ 除錯器
Comment=Debug Applications
Keywords=gdb;disassembler;debugger;c;c++;
Icon=nemiver
Exec=nemiver
Categories=GNOME;GTK;Development;Debugger;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
