[Desktop Entry]
X-AppInstall-Package=nemo
X-AppInstall-Popcon=779
X-AppInstall-Section=universe

Name=Files
Comment=Access and organize files
Exec=nemo %U
Icon=folder
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nemo
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.2.4



X-Ubuntu-Gettext-Domain=app-install-data
