[Desktop Entry]
X-AppInstall-Package=nemo
X-AppInstall-Popcon=779
X-AppInstall-Section=universe

Name=Autorun Prompt
TryExec=nemo-autorun-software
Exec=nemo-autorun-software %u
Icon=application-x-executable
NoDisplay=true
Terminal=false
StartupNotify=false
Type=Application
MimeType=x-content/unix-software;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nemo
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.2.4

X-Ubuntu-Gettext-Domain=app-install-data
