[Desktop Entry]
X-AppInstall-Package=ninja-ide
X-AppInstall-Popcon=59
X-AppInstall-Section=universe

Name=Ninja IDE
Comment=Python IDE
Exec=ninja-ide
Icon=ninja-ide
Terminal=false
Type=Application
Categories=Development;IDE;Qt;
Keywords=development;python;IDE;

X-Ubuntu-Gettext-Domain=app-install-data
