[Desktop Entry]
X-AppInstall-Package=okular
X-AppInstall-Popcon=7304
X-AppInstall-Section=universe

MimeType=text/plain;
Terminal=false
Name=Okular
GenericName=Document Viewer
Exec=okular %U %i -caption %c
Icon=okular
Type=Application
InitialPreference=3
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
X-KDE-Keywords=txt
X-KDE-Keywords[bg]=txt
X-KDE-Keywords[bs]=txt
X-KDE-Keywords[ca]=txt
X-KDE-Keywords[ca@valencia]=txt
X-KDE-Keywords[cs]=txt
X-KDE-Keywords[da]=txt
X-KDE-Keywords[de]=Text
X-KDE-Keywords[el]=txt
X-KDE-Keywords[en_GB]=txt
X-KDE-Keywords[es]=txt
X-KDE-Keywords[et]=txt
X-KDE-Keywords[fi]=txt
X-KDE-Keywords[fr]=txt
X-KDE-Keywords[gl]=txt
X-KDE-Keywords[hu]=txt
X-KDE-Keywords[ia]=txt
X-KDE-Keywords[is]=txt
X-KDE-Keywords[it]=txt, testo
X-KDE-Keywords[kk]=txt
X-KDE-Keywords[ko]=txt
X-KDE-Keywords[lt]=txt
X-KDE-Keywords[mr]=txt
X-KDE-Keywords[nb]=txt
X-KDE-Keywords[nds]=txt
X-KDE-Keywords[nl]=txt
X-KDE-Keywords[pa]=txt
X-KDE-Keywords[pl]=txt
X-KDE-Keywords[pt]=txt
X-KDE-Keywords[pt_BR]=txt
X-KDE-Keywords[ru]=txt
X-KDE-Keywords[sk]=txt
X-KDE-Keywords[sl]=txt
X-KDE-Keywords[sr]=txt;обични;текст
X-KDE-Keywords[sr@ijekavian]=txt;обични;текст
X-KDE-Keywords[sr@ijekavianlatin]=txt;obični;tekst
X-KDE-Keywords[sr@latin]=txt;obični;tekst
X-KDE-Keywords[sv]=txt
X-KDE-Keywords[tr]=txt
X-KDE-Keywords[ug]=txt
X-KDE-Keywords[uk]=txt
X-KDE-Keywords[x-test]=xxtxtxx
X-KDE-Keywords[zh_CN]=txt
X-KDE-Keywords[zh_TW]=txt

X-Ubuntu-Gettext-Domain=app-install-data
