[Desktop Entry]
X-AppInstall-Package=orbital-eunuchs-sniper
X-AppInstall-Popcon=7
X-AppInstall-Section=universe

Version=1.0
Type=Application
Exec=/usr/games/snipe2d
Icon=orbital-eunuchs-sniper
Terminal=false
Name=Orbital Eunuchs Sniper
Comment=Anti-terrorist Satellite Sniping Game
Categories=Application;Game;ArcadeGame;
StartupNotify=true
Keywords=Game;Arcade;Terrorist;Sniper

X-Ubuntu-Gettext-Domain=app-install-data
