[Desktop Entry]
X-AppInstall-Package=pdf-presenter-console
X-AppInstall-Popcon=51
X-AppInstall-Section=universe

Name=PDF Presenter Console
Comment=Presentation program for PDF files
Type=Application
Exec=pdf-presenter-console %f
Icon=pdf-presenter-console
MimeType=application/pdf;
Categories=Graphics;Viewer;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
