[Desktop Entry]
X-AppInstall-Package=pixelmed-webstart-apps
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Terminal=false
StartupNotify=true
Version=20130426
Name=DicomImageBlackout
Exec=/usr/bin/DicomImageBlackout
GenericName=DicomImageBlackout Application
Comment=A simple DICOM image blackout tool.
Icon=_usr_share_pixelmed_icons_DicomImageBlackout
Categories=Science;DataVisualization;ImageProcessing;MedicalSoftware

X-Ubuntu-Gettext-Domain=app-install-data
