[Desktop Entry]
X-AppInstall-Package=pixelmed-webstart-apps
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Terminal=false
StartupNotify=true
Version=20130426
Name=DoseUtility
Exec=/usr/bin/DoseUtility
GenericName=Dose Utility Application
Comment=A simple application to query, retrieve, import, and extract and report radiation dose information.
Icon=_usr_share_pixelmed_icons_DoseUtility
Categories=Science;DataVisualization;ImageProcessing;MedicalSoftware

X-Ubuntu-Gettext-Domain=app-install-data
