[Desktop Entry]
X-AppInstall-Package=planner
X-AppInstall-Popcon=695
X-AppInstall-Section=universe

Version=1.0
Name=Planner
GenericName=Project Management
X-GNOME-FullName=Planner Project Management
X-GNOME-FullName[ar]=إدارة مشاريع المُخَطِّط
X-GNOME-FullName[as]=প্লেনাৰ প্ৰজেক্ট পৰিচালনা
X-GNOME-FullName[ast]=Xestión de proyeutos Planner
X-GNOME-FullName[bg]=Управление на проекти (Planner)
X-GNOME-FullName[bn_IN]=Planner প্রজেক্ট পরিচালনা
X-GNOME-FullName[ca]=Gestor de projectes del Planner
X-GNOME-FullName[ca@valencia]=Gestor de projectes del Planner
X-GNOME-FullName[cs]=Správa projektů Planner
X-GNOME-FullName[da]=Planner-projektstyring
X-GNOME-FullName[de]=Planner Projektverwaltung
X-GNOME-FullName[dz]=རྩམ་མི་ལས་འགུལ་འཛིན་སྐྱོང་།
X-GNOME-FullName[el]=Διαχείριση έργων Planner
X-GNOME-FullName[en_CA]=Planner Project Management
X-GNOME-FullName[en_GB]=Planner Project Management
X-GNOME-FullName[es]=Gestor de proyectos Planner
X-GNOME-FullName[et]=Plaanija projektihaldus
X-GNOME-FullName[eu]=Planner proiektu-kudeaketa
X-GNOME-FullName[fa]=مدیریت پروژه‌ی برنامه‌ریز
X-GNOME-FullName[fi]=Planner-projektinhallinta
X-GNOME-FullName[fr]=Gestionnaire de projets Planner
X-GNOME-FullName[gl]=Xestor de proxectos Planner
X-GNOME-FullName[gu]=Planner પ્રોજેક્ટ વ્યવસ્થાપન
X-GNOME-FullName[hr]=Plannerovo upravljanje projektima
X-GNOME-FullName[hu]=Planner projektmenedzsment
X-GNOME-FullName[is]=Planner Verkefnastjórnun
X-GNOME-FullName[it]=Planner gestione progetto
X-GNOME-FullName[ja]=プロジェクトを管理します
X-GNOME-FullName[ko]=Planner 프로젝트 관리 프로그램
X-GNOME-FullName[lt]=Planner projektų valdymas
X-GNOME-FullName[lv]=Plānotaja projekta pārvaldība
X-GNOME-FullName[mr]=Planner प्रकल्प व्यवस्थापन
X-GNOME-FullName[nb]=Planner prosjektstyring
X-GNOME-FullName[nds]=Planner Projektoppassens
X-GNOME-FullName[ne]=योजनाकर्ता परियोजना व्यवस्थापन
X-GNOME-FullName[nl]=Planner Project Management
X-GNOME-FullName[or]=ଆୟୋଜକ ପ୍ରକଳ୍ପ ପରିଚାଳନା
X-GNOME-FullName[pl]=Zarządzanie projektami Planner
X-GNOME-FullName[pt]=Gestão de Projectos Planner
X-GNOME-FullName[pt_BR]=Gerenciador de Projetos Planner
X-GNOME-FullName[ro]=Management de proiecte Planner
X-GNOME-FullName[ru]=Planner управление проектами
X-GNOME-FullName[sk]=Správa projektov Planner
X-GNOME-FullName[sl]=Planer: upravljanje projektov
X-GNOME-FullName[sr]=Управљање пројектима Планером
X-GNOME-FullName[sr@Latn]=Upravljanje projektima Planerom
X-GNOME-FullName[sv]=Planner projekthantering
X-GNOME-FullName[ta]=திட்டமமைப்பானின் திட்ட மேலாண்மை
X-GNOME-FullName[tr]=Planner Proje Yönetimi
X-GNOME-FullName[uk]=Керування проектами Planner
X-GNOME-FullName[vi]=Quản lý dự án Planner
X-GNOME-FullName[zh_CN]=Planner 项目管理
X-GNOME-FullName[zh_HK]=Planner 專案管理
X-GNOME-FullName[zh_TW]=Planner 專案管理
Comment=Handle the tasks, resources, and cost of your projects
Keywords=Gantt;Chart;Critical path;Relationship;Dependency;WBS;
Exec=planner %F
Icon=gnome-planner
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;ProjectManagement;
StartupNotify=true
MimeType=application/x-planner;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=planner
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.14.6

X-Ubuntu-Gettext-Domain=app-install-data
