[Desktop Entry]
X-AppInstall-Package=quake
X-AppInstall-Popcon=8
X-AppInstall-Section=multiverse

Type=Application
Version=1.0
Name=Quake: Dissolution of Eternity
Comment=Mission Pack 2 for the classic first person shooter
Icon=quake-dissolution
TryExec=/usr/share/games/quake/rogue-tryexec.sh
Exec=/usr/games/quake -rogue
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;rogue;mission pack 2;

X-Ubuntu-Gettext-Domain=app-install-data
