[Desktop Entry]
X-AppInstall-Package=quake2
X-AppInstall-Popcon=1
X-AppInstall-Section=multiverse

Type=Application
Version=1.0
Name=Quake II
Comment=Classic first person shooter
Icon=quake2
Exec=/usr/games/quake2
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;

X-Ubuntu-Gettext-Domain=app-install-data
