[Desktop Entry]
X-AppInstall-Package=rocs
X-AppInstall-Popcon=58
X-AppInstall-Section=universe

Type=Application
Exec=rocs %i -caption %c
Icon=rocs
X-DocPath=rocs/index.html
MimeType=application/x-rocs;application/x-rocsz;
Terminal=false
Name=Rocs
GenericName=Rocs Graph Theory
Comment=Graph Theory Tool for Professors and Students.
Categories=Qt;KDE;Education;Science;Math;

X-Ubuntu-Gettext-Domain=app-install-data
