[Desktop Entry]
X-AppInstall-Package=simon
X-AppInstall-Popcon=15
X-AppInstall-Section=universe

Name=SSCd
Exec=sscd %i -caption %c
Icon=sscd
Type=Application
X-DocPath=sscd/index.html
GenericName=Sample Collection Server
Terminal=true
Categories=Qt;KDE;Utility;Accessibility;

X-Ubuntu-Gettext-Domain=app-install-data
