[Desktop Entry]
X-AppInstall-Package=ubuntu-system-settings
X-AppInstall-Popcon=41
X-AppInstall-Section=universe

Name=System Settings
Categories=System;
Categories[am]=ስርአት:
Categories[ast]=Sistema;
Categories[br]=Reizhiad;
Categories[ca]=Sistema;
Categories[de]=System;
Categories[en_AU]=System;
Categories[en_GB]=System;
Categories[es]=Sistema;
Categories[eu]=Sistema;
Categories[fa]=سامانه;
Categories[fi]=System;Järjestelmä;
Categories[fr]=Système;
Categories[gd]=System;Siostam
Categories[gl]=Sistema;
Categories[hu]=Rendszer;
Categories[id]=Sistem;
Categories[is]=Kerfi;
Categories[it]=Sistema;
Categories[ja]=System:システム;
Categories[ko]=System;시스템;
Categories[nb]=System;
Categories[nl]=System;Systeem;
Categories[pt]=Sistema;
Categories[pt_BR]=Sistema;
Categories[ro]=Sistem;
Categories[ru]=Система;
Categories[sl]=Sistem;
Categories[sr]=Систем;
Categories[sv]=System;
Categories[ug]=سىستېما;
Categories[uk]=Система:
Keywords=Preferences;Settings;
Icon=_usr_share_ubuntu_settings_system_system-settings
Exec=system-settings %u
Terminal=false
Type=Application
StartupNotify=true
X-Screenshot=/usr/share/ubuntu/settings/system/screenshot.png

X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true

X-Ubuntu-Gettext-Domain=app-install-data
