[Desktop Entry]
X-AppInstall-Package=ubuntustudio-menu
X-AppInstall-Popcon=74
X-AppInstall-Section=universe

Version=1.0
Type=Application
StartupNotify=false
Terminal=false
Keywords=Info;Information;Ubuntustudio;Help;Home;
Exec=xdg-open http://ubuntustudio.org/
Icon=ubuntustudio-logo
Name=ubuntustudio.org
Comment=Ubuntu Studio Home Page

X-Ubuntu-Gettext-Domain=app-install-data
