[Desktop Entry]
X-AppInstall-Package=ubuntustudio-menu
X-AppInstall-Popcon=74
X-AppInstall-Section=universe

Name=Extra Audio Effects
GenericName=Software Installer
Comment=Allows the installation of more Audio Effects
Exec=ubuntustudio-installer zita-rev1 dssi-vst
Icon=ubuntustudio-installer
Terminal=false
Type=Application
StartupNotify=true
Keywords=Install;

X-Ubuntu-Gettext-Domain=app-install-data
