[Desktop Entry]
X-AppInstall-Package=unity-webapps-yahoomail
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=YahooMail
Type=Application
Icon=unity-webapps-yahoomail
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'WWFob29NYWls' -d 'mail.yahoo.com' %u
StartupWMClass=YahooMailmailyahoocom
    
X-Ubuntu-Gettext-Domain=app-install-data
