[Desktop Entry]
X-AppInstall-Package=unity-webapps-pandora
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=pandora
Type=Application
Icon=unity-webapps-pandora
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'cGFuZG9yYQ==' -d 'pandora.com' %u
StartupWMClass=pandorapandoracom
    
X-Ubuntu-Gettext-Domain=app-install-data
