[Desktop Entry]
X-AppInstall-Package=unity-webapps-launchpad
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Launchpad
Type=Application
Icon=unity-webapps-launchpad
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'TGF1bmNocGFk' -d 'launchpad.net' %u
StartupWMClass=Launchpadlaunchpadnet
    
X-Ubuntu-Gettext-Domain=app-install-data
