[Desktop Entry]
X-AppInstall-Package=unity-webapps-mail-ru
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=mail-ru
Type=Application
Icon=unity-webapps-mail-ru
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'bWFpbC1ydQ==' -d 'mail.ru' %u
StartupWMClass=mail-rumailru
    
X-Ubuntu-Gettext-Domain=app-install-data
