[Desktop Entry]
X-AppInstall-Package=unity-webapps-grooveshark
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=grooveshark
Type=Application
Icon=unity-webapps-grooveshark
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'Z3Jvb3Zlc2hhcms=' -d 'grooveshark.com' %u
StartupWMClass=groovesharkgroovesharkcom
    
X-Ubuntu-Gettext-Domain=app-install-data
