[Desktop Entry]
X-AppInstall-Package=unity-webapps-deviantart
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=DeviantArt
Type=Application
Icon=unity-webapps-deviantart
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'RGV2aWFudEFydA==' -d 'deviantart.com' %u
StartupWMClass=DeviantArtdeviantartcom
    
X-Ubuntu-Gettext-Domain=app-install-data
