[Desktop Entry]
X-AppInstall-Package=unity-webapps-cnn-news
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=cnn-news
Type=Application
Icon=unity-webapps-cnn-news
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'Y25uLW5ld3M=' -d 'cnn.com' %u
StartupWMClass=cnn-newscnncom
    
X-Ubuntu-Gettext-Domain=app-install-data
