[Desktop Entry]
X-AppInstall-Package=unity-webapps-qq-mail
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=qq-mail
Type=Application
Icon=unity-webapps-qq-mail
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'cXEtbWFpbA==' -d 'mail.qq.com' %u
StartupWMClass=qq-mailmailqqcom
    
X-Ubuntu-Gettext-Domain=app-install-data
