[Desktop Entry]
X-AppInstall-Package=unity-webapps-linkedin
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=LinkedIn
Type=Application
Icon=unity-webapps-linkedin
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'TGlua2VkSW4=' -d 'linkedin.com' %u
StartupWMClass=LinkedInlinkedincom
    
X-Ubuntu-Gettext-Domain=app-install-data
