[Desktop Entry]
X-AppInstall-Package=unity-webapps-yahoonews
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=YahooNews
Type=Application
Icon=unity-webapps-yahoonews
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'WWFob29OZXdz' -d 'yahoo.com' %u
StartupWMClass=YahooNewsyahoocom
    
X-Ubuntu-Gettext-Domain=app-install-data
