[Desktop Entry]
X-AppInstall-Package=unity-webapps-deezer
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Deezer
Type=Application
Icon=unity-webapps-deezer
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'RGVlemVy' -d 'deezer.com' %u
StartupWMClass=Deezerdeezercom
    
X-Ubuntu-Gettext-Domain=app-install-data
