[Desktop Entry]
X-AppInstall-Package=unity-webapps-tumblr
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Tumblr
Type=Application
Icon=unity-webapps-tumblr
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'VHVtYmxy' -d 'tumblr.com' %u
StartupWMClass=Tumblrtumblrcom
    
X-Ubuntu-Gettext-Domain=app-install-data
