[Desktop Entry]
X-AppInstall-Package=unity-control-center-signon
X-AppInstall-Popcon=9409
X-AppInstall-Section=main

Name=Online Accounts
Comment=Online account credentials and settings
Exec=unity-control-center credentials
Icon=credentials-preferences
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-Unity-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=Unity;
X-Unity-Settings-Panel=credentials


X-Ubuntu-Gettext-Domain=app-install-data
