[Desktop Entry]
X-AppInstall-Package=unity-control-center-signon
X-AppInstall-Popcon=9409
X-AppInstall-Section=main

Name=Online Accounts
Comment=Online account credentials and settings
Exec=credentials-preferences
Icon=credentials-preferences
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=Unity
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-PersonalSettings;


X-Ubuntu-Gettext-Domain=app-install-data
