[Desktop Entry]
X-AppInstall-Package=usbview
X-AppInstall-Popcon=7
X-AppInstall-Section=universe

Name=usbview
Comment=View USB devices attached to system
Exec=/usr/bin/usbview
Terminal=false
Type=Application
Categories=GTK;System;HardwareSettings

X-Ubuntu-Gettext-Domain=app-install-data
