[Desktop Entry]
X-AppInstall-Package=verbiste-gnome
X-AppInstall-Popcon=129
X-AppInstall-Section=universe

Name=Verbiste
Categories=Office;
Keywords=Conjugation;French;Spelling;Translation;Verb;
Comment=French conjugation system
Exec=verbiste
Icon=verbiste
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
