[Desktop Entry]
X-AppInstall-Package=wsjtx
X-AppInstall-Popcon=7
X-AppInstall-Section=universe

Version=0.0
Name=wsjtx
Comment=Weak Signal Ham Radio
Exec=wsjtx
Icon=wsjtx
Terminal=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;

X-Ubuntu-Gettext-Domain=app-install-data
