[Desktop Entry]
X-AppInstall-Package=xboard
X-AppInstall-Popcon=83
X-AppInstall-Section=universe

Name=Xboard
Comment=Start preconfigured XBoard
GenericName=X-windows chess board
Type=Application
Categories=Game;BoardGame;
Exec=xboard -opt %f
Icon=xboard
NoDisplay=true
Terminal=false
MimeType=application/x-xboard-opt;


X-Ubuntu-Gettext-Domain=app-install-data
