[Desktop Entry]
X-AppInstall-Package=xboard
X-AppInstall-Popcon=83
X-AppInstall-Section=universe

Name=Xboard
Comment=Run XBoard as PGN viewer
GenericName=X-windows chess board
Type=Application
Categories=Game;BoardGame;
Exec=xboard -viewer -lgf %f
Icon=xboard
NoDisplay=true
Terminal=false
MimeType=application/x-chess-pgn;


X-Ubuntu-Gettext-Domain=app-install-data
