[Desktop Entry]
X-AppInstall-Package=xdesktopwaves
X-AppInstall-Popcon=3
X-AppInstall-Section=universe

Name=xdesktopwaves: stop
Type=Application
Exec=xdesktopwaves -end
Icon=xdesktopwaves-stop
Encoding=UTF-8
Terminal=false
Categories=Application;Game;Amusement;


X-Ubuntu-Gettext-Domain=app-install-data
