[Desktop Entry]
X-AppInstall-Package=xzoom
X-AppInstall-Popcon=13
X-AppInstall-Section=universe

Name=Screen Magnifier
GenericName=Screen Magnifier
Comment=Magnify part of display, with real-time updates.
Keywords=screen magnifier;
Exec=xzoom -mag 3 -geometry 320x240
Icon=system-search
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;Accessibility;

X-Ubuntu-Gettext-Domain=app-install-data
