[Desktop Entry]
X-AppInstall-Package=zegrapher
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/zegrapher
Icon=zegrapher
Terminal=false
Name=ZeGrapher
GenericName=Plots of functions and series
Comment=Interactive tool plot mathematic objects
Categories=GNOME;Application;Education;Math;

X-Ubuntu-Gettext-Domain=app-install-data
